<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Infos</title>
</head>
<style>
    .info {
        margin-bottom: 10px;
    }
</style>
<body>
    <div class="info">
        <h2>Name:</h2>
        <p>
            {{ .Artist.Name }}
        </p> 
        <h2>Members:</h2>
        <p>
            {{range .Artist.Members}}
            {{.}}
            {{end}}
        </p>
        <h2>CreationDate:</h2>
        <p>
            {{.Artist.CreationDate}}
        </p>
        <h2>First Album:</h2>
        <p>
        {{.Artist.FirstAlbum}}
    </p>
    <h2>Locations:</h2>
    <p>
        {{range .Locations}}
        {{.}}
        {{end}}
    </p>
    <h2>Dates:</h2>
    <p>
        {{ range .Dates}}
        {{.}}
        {{end}}
    </p>
    <h2>Relations:</h2>
   
    {{range  $location, $dates := .Relations}}
   
    {{$location}}

    {{range $dates}}
 
    {{.}}
   
    {{end}}

    {{end}}
    </div>
</body>
</html>