<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/static/styles/master.css">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
   
    <title>Document</title>
</head>
<body>
    <footer>

        <div class="footercontainer">
            <div class="socialicon">
                <a href="" ><i class="fa-brands fa-x"></i></a>
                <a href="" ><i class="fa-brands fa-github" id="github"></i></a>
                <a href="" ><i class="fa-brands fa-x"></i></a>
                <a href="" ><i class="fa-brands fa-github" id="github"></i></a>
                
            </div>
            <div class="footnave">
                <ul>
                    <li><a href="">recommended</a> </li>
                </ul>
            </div>
        </div>
        <div class="footerbottom">
            <p class="Producers">This Project is Created By houtaib && aarabie</p>
</div>

</footer>
</body>
</html>