{{define "footer"}}
    <footer>
        <div class="container">
            <div class="footercontainer">
                <div class="socialicon">
                <a href="https://github.com/HamzaOutayb" ><i class="fa-brands fa-github" id="github"></i></a>
                <a href="https://github.com/Ayoubrabiae" ><i class="fa-brands fa-github" id="github"></i></a>
                
            </div>
            <div class="footnave">
                <ul>
                    <li><a href="">recommended</a> </li>
                </ul>
            </div>
        </div>
        <div class="footerbottom">
            <p class="Producers">This Project is Created By houtaib && aarabie</p>
        </div>
    </div>
</footer>
{{end}}