{{ define "profile" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/stylize/master.css">
</head>
<body>
    {{ template "header" }}

    <section class="profile">
            <div class="top-info">
                <div class="container">
                    <div class="image">
                        <img src="{{.Image}}" alt="group image">
                    </div>
                    <div class="info">
                        <h2 class="title">{{.Name}}</h2>
                        <div class="creation-date">
                            <i class='bx bxs-calendar'></i>
                            <p>Created at {{.CreationDate}}</p>
                        </div>
                        <div class="first-album">
                            <i class='bx bx-album'></i>
                            <p>First Album was in {{.FirstAlbum}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="members">
                <div class="title container"><h2><i class='bx bxs-user'></i> Members</h2></div>
                <div class="container">
                    {{ range .Members }}
                        <p class="member">{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            <div class="bottom-info">
                <div class="container">
                    <a href="{{.Locations}}" class="locations"><i class='bx bxs-map'></i> Locations</a>
                    <a href="{{.ConcertDates}}" class="concert-dates"><i class='bx bxs-calendar-week'></i> Concert Dates</a>
                    <a href="{{.Relations}}" class="relations"><i class='bx bx-git-compare' ></i> Relations</a>
                </div>
            </div>
    </section>

    {{ template "footer" }}
</body>
</html>
{{ end }}