/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    --main-color: #FF6347;
    --sec-color : #FF7F50;
    --act-color: #87CEEB;   
    --hover-color: #FFD700;
    --text-color: #333333;
    --bg-color: #FFFFFF;
    --body-font: "Roboto", sans-serif;
    --main-font: "Montserrat", sans-serif;
    --act-font: "Poppins", sans-serif;
    --drt: 0.3s;
    --main-pad: 100px;
    font-family: var(--body-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition-duration: var(--drt);
    position: relative;
}

body.dark {
    --main-color: #FF6347;
    --sec-color : #FF7F50;
    --act-color: #40E0D0;   
    --hover-color: #FFD700;
    --text-color: #D3D3D3;
    --bg-color: #2E2E2E;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Header Styling */
header {
    font-family: var(--main-font);
    padding: 10px 0;
    backdrop-filter: brightness(0.85);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 26px;
}

header .dark-mode-btn {
    border: 1px solid currentColor;
    padding: 9px 9px 5px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

header .dark-mode-btn i {
    transition-duration: var(--drt);
}