/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    --main-color: #FF6347;
    --sec-color : #FF7F50;
    --act-color: #87CEEB;   
    --hover-color: #FFD700;
    --text-color: #333333;
    --bg-color: #FFFFFF;
    --drt: 0.3s;
    --main-pad: 100px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

body.dark {
    --main-color: #FF6347;
    --sec-color : #FF7F50;
    --act-color: #40E0D0;   
    --hover-color: #FFD700;
    --text-color: #D3D3D3;
    --bg-color: #2E2E2E;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Header Styling */